<div class="row">
  <div class="card">
    <div class="id-number left card-content blue white-text">
      <%= @topic.id %>
    </div>
    <div class="card-content">
      <%= @topic.title %>
    </div>
  </div>
</div>

<div class="fixed-action-btn">
  <%= link to: topic_path(@conn, :new), \
           class: "btn-floating btn-large waves-effect waves-light red" do %>
    <i class="material-icons">add</i>
  <% end %>
</div>
